#latest{
   padding: 50px 0px;
}
/*-----------------------------------------------Heading----------------------------------------------*/
#latest .header{
   padding: 50px 0px;
}
#latest .header::after{
   content: "";
   display: table;
   clear: both;
}
#latest .header h1{
   display: inline-block;
   width: 100%;
   max-width: 400px;
   float: left;
   font-size: 4.2rem;
   color: #6066f2;
}
#latest .header .directions{
   display: inline-block;
   position: relative;
   float: right;
   top: 35px;
}
#latest .header .directions .move-left{
   border: 1px solid #6066f2;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-bottomleft: 4px;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   padding: 20px 70px;
   float: left;
   font-size: 3rem;
   color: white;
   background: #6066f2;
}
#latest .header .directions .move-right{
   border: 1px solid #cecece;
   -webkit-border-top-right-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   -moz-border-radius-bottomright: 4px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   padding: 20px 70px;
   float: right;
   font-size: 3rem;
   color: #cecece;
   background: white;
}
/*----------------------------------------------Headphones--------------------------------------------*/
#latest .body{
   padding: 100px 0px;
}
#latest .body::after{
   content: "";
   display: table;
   clear: both;
}
#latest .body .column{
   width: 33.33%;
   padding: 0px 15px;
   float: left;
   text-align: center;
}
#latest .body .column:nth-child(1) .bg-square{
   width: 300px;
   height: 300px;
   margin: 0px auto;
   position: relative;
   background: #e04e4e;
   background: -moz-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%);
   background: -webkit-linear-gradient(-45deg, #e04e4e 1%,#232c66 49%,#db57c3 100%);
   background: linear-gradient(135deg, #e04e4e 1%,#232c66 49%,#db57c3 100%);
}
#latest .body .column:nth-child(2) .bg-square{
   width: 300px;
   height: 300px;
   margin: 0px auto;
   position: relative;
   background: #5047cc;
   background: -moz-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%);
   background: -webkit-linear-gradient(-45deg, #5047cc 1%,#4ad6d1 49%,#db57c3 100%);
   background: linear-gradient(135deg, #5047cc 1%,#4ad6d1 49%,#db57c3 100%);
}
#latest .body .column:nth-child(3) .bg-square{
   width: 300px;
   height: 300px;
   margin: 0px auto;
   position: relative;
   background: #ff5959;
   background: -moz-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%);
   background: -webkit-linear-gradient(-45deg, #ff5959 1%,#ecf957 49%,#823434 100%);
   background: linear-gradient(135deg, #ff5959 1%,#ecf957 49%,#823434 100%);
}
#latest .body .column .bg-square img{
   width: 80%;
   position: absolute;
   top: -30%;
   left: 10%;
}
#latest .body .column:nth-child(1) .bg-square .cart{
   width: 94px;
   height: 94px;
   border: 10px solid white;
   border-radius: 50%;
   position: absolute;
   top: -47px;
   right: -47px;
   color: white;
   background: #e04e4e;
   background: -moz-linear-gradient(-45deg, #e04e4e 1%, #232c66 49%, #db57c3 100%);
   background: -webkit-linear-gradient(-45deg, #e04e4e 1%,#232c66 49%,#db57c3 100%);
   background: linear-gradient(135deg, #e04e4e 1%,#232c66 49%,#db57c3 100%);
}
#latest .body .column:nth-child(2) .bg-square .cart{
   width: 94px;
   height: 94px;
   border: 10px solid white;
   border-radius: 50%;
   position: absolute;
   top: -47px;
   right: -47px;
   color: white;
   background: #5047cc;
   background: -moz-linear-gradient(-45deg, #5047cc 1%, #4ad6d1 49%, #db57c3 100%);
   background: -webkit-linear-gradient(-45deg, #5047cc 1%,#4ad6d1 49%,#db57c3 100%);
   background: linear-gradient(135deg, #5047cc 1%,#4ad6d1 49%,#db57c3 100%);
}
#latest .body .column:nth-child(3) .bg-square .cart{
   width: 94px;
   height: 94px;
   border: 10px solid white;
   border-radius: 50%;
   position: absolute;
   top: -47px;
   right: -47px;
   color: white;
   background: #ff5959;
   background: -moz-linear-gradient(-45deg, #ff5959 1%, #ecf957 49%, #823434 100%);
   background: -webkit-linear-gradient(-45deg, #ff5959 1%,#ecf957 49%,#823434 100%);
   background: linear-gradient(135deg, #ff5959 1%,#ecf957 49%,#823434 100%);
}
#latest .body .column .bg-square .cart .fas{
   position: relative;
   top: 22px;
   left: -3px;
   font-size: 2rem;
}
#latest .body .column .line{
   display: inline-block;
   width: 20%;
   height: 2px;
   margin: 50px auto;
   background: #6066f2;
}
#latest .body .column .price{
   font-size: 2.3rem;
   font-weight: 700;
   color: #fea83b;
}
/*-----------------------------------------------Contact----------------------------------------------*/
#latest .footer{
   position: relative;
   text-align: center;
}
#latest .footer img{
   width: 40%;
   position: absolute;
   top: 0;
   left: 30%;
   z-index: 1;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%) invert(100%);
   transform: rotate(30deg);
   opacity: .1;
}
#latest .footer .info-box{
   padding: 200px 0px;
   position: relative;
   z-index: 2;
}
#latest .footer .info-box h2{
   margin-bottom: 60px;
   text-transform: capitalize;
   font-size: 4rem;
   font-weight: 700;
   color: #6066f2;
}
#latest .footer .info-box form{
   display: inline-block;
   margin: 0px auto;
   vertical-align: top;
}
#latest .footer .info-box .input-area{
   display: inline-block;
   border-radius: 50px;
   padding: 10px;
   float: left;
   background: white;
}
#latest .footer .info-box .input-area:nth-child(1){
   height: 80px;
   margin-right: 50px;
}
#latest .footer .info-box .input-area .far{
   margin-left: 15px;
   position: relative;
   top: 7px;
   font-size: 2rem;
   color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1) .far{
   position: relative;
   top: 14px;
}
#latest .footer .info-box .input-area input{
   width: 230px;
   border: none;
   padding: 10px;
   text-transform: uppercase;
   font-size: 1rem;
   background: white;
}
#latest .footer .info-box .input-area:nth-child(1) input{
   position: relative;
   top: 8px;
}
#latest .footer .info-box .input-area button{
   border-radius: 50px;
   padding: 20px 50px;
   text-transform: uppercase;
   font-size: 1rem;
   color: white;
   background: #6066f2;
}
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------TABLET DEVICES-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:992px){
/*-----------------------------------------------Heading----------------------------------------------*/
#latest .header h1{
   font-size: 3.5rem;
}
#latest .header .directions{
   top: 18px;
}
/*----------------------------------------------Headphones--------------------------------------------*/
#latest .body .column{
   width: 50%;
   margin-bottom: 150px;
}
/*-----------------------------------------------Contact----------------------------------------------*/
#latest .footer img{
   width: 50%;
   position: absolute;
   top: 100px;
   left: 30%;
   z-index: 1;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%) invert(100%);
   transform: rotate(30deg);
   opacity: .1;
}
#latest .footer .info-box form{
   width: 80%;
}
#latest .footer .info-box .input-area:nth-child(1){
   width: 50%;
   margin: 0px;
}
#latest .footer .info-box .input-area:nth-child(2){
   width: 50%;
   margin: 0px;
}
#latest .footer .info-box .input-area .far{
   width: 15%;
   margin-left: 0px;
   position: relative;
   float: left;
   top: 14px;
   text-align: center;
}
#latest .footer .info-box .input-area:nth-child(1) input[type="text"]{
   width: 80%;
   margin: 0px;
}
#latest .footer .info-box .input-area input[type="email"]{
   width: 50%;
   position: relative;
   float: left;
   top: 12px;
}
#latest .footer .info-box .input-area button{
   width: 35%;
   padding: 20px 0px;
   float: left;
   font-size: 1rem;
   background: #6066f2;
}}
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------MOBILE DEVICES-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:768px){
/*-----------------------------------------------Heading----------------------------------------------*/
#latest .header{
   text-align: center;
}
#latest .header h1{
   width: 100%;
   max-width: none;
   text-align: center;
   font-size: 3rem;
}
#latest .header .directions{
   display: inline-block;
   margin: 50px auto;
   position: static;
   float: none;
   top: 0;
}
/*----------------------------------------------Headphones--------------------------------------------*/
#latest .body .column{
   width: 100%;
   margin-bottom: 150px;
}
#latest .body .column:nth-child(1) .bg-square,
#latest .body .column:nth-child(2) .bg-square,
#latest .body .column:nth-child(3) .bg-square{
   transform: scale(.8);
}
/*-----------------------------------------------Contact----------------------------------------------*/
#latest .footer .info-box .input-area:nth-child(1){
   width: 100%;
   margin: 0px;
   margin-bottom: 50px;
}
#latest .footer .info-box .input-area:nth-child(2){
   width: 100%;
   margin: 0px;
}
#latest .footer .info-box .input-area .far{
   width: 15%;
   margin-left: 0px;
   position: relative;
   float: left;
   top: 14px;
   text-align: center;
}
#latest .footer .info-box .input-area input[type="email"]{
   width: 50%;
   position: relative;
   float: left;
   top: 12px;
}
#latest .footer .info-box .input-area button{
   width: 35%;
   padding: 20px 0px;
   float: left;
   font-size: 1rem;
   background: #6066f2;
}}